@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply w-[350px] h-[50px] text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-bold rounded-lg text-lg px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
}

.box {
  @apply flex flex-col justify-center items-center mb-5 gap-5 w-[400px] h-[600px] border border-green-500 border-solid rounded-[5px];
}

.text-box {
  @apply flex flex-col justify-start items-start mt-[50px] mb-5 gap-5 w-[350px]
}

.title {
  @apply text-center text-3xl font-bold text-green-600 mb-4;
}

.text {
  @apply text-center text-lg text-gray-700 mb-6;
}

.input {
  @apply w-[350px] h-[50px] bg-green-50 border border-green-500 text-green-900 placeholder-green-700 text-sm rounded-lg 
         focus:ring-green-500 focus:border-green-500 block p-2.5 pl-[45px];
}

.label {
  @apply block mb-2 text-sm font-medium text-green-700;
}

.select {
  @apply w-[350px] h-[50px] bg-green-50 border border-green-500 text-green-900 rounded-lg focus:ring-green-500 
         focus:border-green-500 block p-2.5;
}

.span {
  @apply pl-[5px] mt-2 text-sm text-red-600;
}

.icon {
  @apply w-4 h-4 text-green-500 dark:text-green-400 mr-2
}